Carl Mosler <carl.mosler@tu-berlin.de> Caerum5 <carl.mosler@gmx.de>
Carl Mosler <carl.mosler@tu-berlin.de> Carl Mosler <carl.mosler@gmx.de>
Tim Baumann <t.baumann@campus.tu-berlin.de> Tim Sebastian Michael Baumann <t.baumann@campus.tu-berlin.de>
Tim Baumann <t.baumann@campus.tu-berlin.de> txmbau <baumann.tim@protonmail.com>
Moritz Reich <moritz.reich@campus.tu-berlin.de> Moo-svg <128382193+Moo-svg@users.noreply.github.com>
Atakan Gelecek <atakan.gelecek@campus.tu-berlin.de> Atakan Gelecek <atakangelecek@users.noreply.github.com>
Senem Dilli <senem.dilli@campus.tu-berlin.de> Senem Dilli <senemdilli5@gmail.com>
Tobias Ax <t.ax@campus.tu-berlin.de> Tobias Christoph Ax <t.ax@campus.tu-berlin.de>
Nhat Nguyen Fickel <nhat.nguyen.fickel@campus.tu-berlin.de> Nhat Nguyen Fickel <https://git.tu-berlin.de/nhat.fickel>
Nhat Nguyen Fickel <nhat.nguyen.fickel@campus.tu-berlin.de> nh0t <nhatfi2550@gmail.com>
